:root {
    --background-color: #1e1e1e;
    --color: #d4d4d4;
    --line-height: 18px;
    --font-size: 12px;

    @media print {
        --line-height: 16.5px;
        --font-size: 11px;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--background-color);
    color: var(--color);
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE 10+
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    overflow: overlay;

    &.hidden {
        overflow: hidden;
    }
}

// DEV

/* create wrapper */
.brush-wrap {
    position: relative;
    display: inline-block;
    padding: 3rem;
}

/* applying example animation (indefinite variant) */
.brush-wrap.brush-wrap--indefinite:before {
    clip-path: url(#clip-indefinite);
}

/* clipping/animating object (pseudo element) */
.brush-wrap:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00FFA6;
    z-index: -1;
    clip-path: url(#clip);
    /* applying clip animation */
}

.brush-wrap p {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    color: white;
    font-style: italic;
    filter: drop-shadow(0px 0px 2px #FF0059);
}